In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Photon

import time

In [2]:
errors = []

In [3]:
def geocode_address(address, geolocator):
    """
    Geocodes a single address string to get latitude and longitude.

    Args:
        address (str): The address to geocode.
        geolocator (geopy.geocoders.Photon): The geolocator instance.

    Returns:
        tuple: A tuple containing (latitude, longitude), or (None, None) if not found.
    """
    if pd.isna(address):
        return None, None
    try:
        # We add a small delay to be respectful to the free API server
        time.sleep(0.1) 
        location = geolocator.geocode(address)
        if location:
            print(f"Correct{location.latitude, location.longitude} '{address} ': ", )
            return location.longitude, location.latitude
        else:
            return None, None
    except Exception as e:
        errors.append(address)
        print(f"Error geocoding '{address}': {e}")
        return None, None

In [4]:
def main():
    # --- Configuration ---
    input_filename = '../DATA/mp_new.csv'
    output_filename = '../DATA/mp_new_geolocations.csv'
    address_column_A = 'mf_address'
    address_column_B = 'tl_address'
    address_column_C = 'ha_address'
    # --- 1. Load the data ---
    
    df = pd.read_csv(input_filename)
    print(f"Successfully loaded '{input_filename}'.")

    # --- 2. Initialize the Geocoder ---
    # We use Nominatim, which is a free service based on OpenStreetMap data.
    # A custom user_agent is good practice.
    geolocator = Nominatim(user_agent="my-geocoder-app")

    # Use RateLimiter to avoid overwhelming the service and getting blocked.
    # This limits the geocoding to one address per second.
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
    
    print("Starting geocoding process... This may take a while for large files.")

    # --- 3. Geocode the address columns ---
    # Apply the geocoding function to column 'A'
    df['missing_from_latlong'] = df[address_column_A].apply(
        lambda addr: geocode_address(addr, geolocator)
    )
    print(f"Finished geocoding column '{address_column_A}'.")
    
    # Apply the geocoding function to column 'B'
    df['tl_latlong'] = df[address_column_B].apply(
        lambda addr: geocode_address(addr, geolocator)
    )
    
    df['home_latlong'] = df[address_column_C].apply(
        lambda addr: geocode_address(addr, geolocator)
    )
    print(f"Finished geocoding column '{address_column_B}'.")


    # --- 4. Save the results ---
    df.to_csv(output_filename, index=False)
    print(f"\nGeocoding complete!")
    print(f"Results saved to '{output_filename}'.")
    print("\nPreview of the final DataFrame:")
    print(df.head())


if __name__ == "__main__":
    # Before running, make sure you have the necessary libraries installed:
    # pip install pandas geopy
    main()

Successfully loaded '../DATA/mp_new.csv'.
Starting geocoding process... This may take a while for large files.
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road, Kilsyth, G65 9BE ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.860693, -4.212577) 'Whitehill Secondary School, Onslow Drive, Glasgow ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9380364, -3.2228502) '64 F4 Bryson Rd, Edinburgh EH11 1DR ':
Correct(56.6338941, -2.8992861) '29 Old Halkerton Rd, Forfar DD8 1JP ':
Correct(55.9573365, -3.2113535) '18 Carlton St, Edinburgh EH4 1NJ ':
Correct(55.752489, -4.6400035) '14 Mains Avenue, Beith ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8071815, -3.9780379) 'Bowling Club Motherwell ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.797329, -4.0097738) '55 Chesters Cres, Motherwell ML1 3QU ':
Correct(55.797329, -4.0097738) '55 Chesters Cres, Motherwell ML1 3QU ':
Correct(55.797329, -4.0097738) '55 Chesters Cres, Motherwell ML1 3QU ':
Correct(55.8121544, -4.0333966) '45 Mansfield Rd, Bellshill ML4 3AQ ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8675316, -3.9557906) 'Forrest Street Airdrie ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JE ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8143827, -4.2930631) '50B Tinto Rd Glasgow G43 2AH ':
Correct(55.8143827, -4.2930631) '50B Tinto Rd Glasgow G43 2AH ':
Error geocoding '8 Old School House Ln, Houston, Johnstone PA6 7JB': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=8+Old+School+House+Ln%2C+Houston%2C+Johnstone+PA6+7JB&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8468557, -4.3956906) 'Barshaw Park Glasgow Road Paisley PA1 3TN ':
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Error geocoding '8 Old School House Ln, Houston, Johnstone PA6 7JB': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=8+Old+School+House+Ln%2C+Houston%2C+Johnstone+PA6+7JB&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.1245805, -3.159254) 'Victoria Hospital Hayfield Road Kirkcaldy KY2 5AH ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.4007574, -3.4135806) ' Murray Royal Hospital Muirhall Road Perth PH2 7BH ':
Correct(56.4007574, -3.4135806) ' Murray Royal Hospital Muirhall Road Perth PH2 7BH ':
Correct(56.4007574, -3.4135806) ' Murray Royal Hospital Muirhall Road Perth PH2 7BH ':
Finished geocoding column 'mf_address'.
Correct(55.9791552, -4.0546078) 'Edward Street Kilsyth ':
Correct(55.9810406, -4.0813954) 'Balcastle Farm, Kilsyth ':
Correct(56.0029683, -4.0374377) 'Tak Ma Doon Road Kilsyth ':
Correct(55.8621498, -4.0007078) 'Deedes Street Airdrie ML6 9AF ':
Correct(55.8658918, -3.981161) '7-9 Stirling St, Airdrie ML6 0AH ':
Correct(55.8567105, -4.0048187) '11 John Smith Gardens Coatbridge ML5 4QB ':
Correct(55.8565441, -4.0057267) '11 John Smith Gardens, Airdrie ':
Correct(55.8624851, -4.0279913) 'Main Street Coatbridge ML5 3AJ ':
Correct(55.8567105, -4.0048187) '11 John Smith Gardens Coatbridge ML5 4QB ':
Correct(55.8727527, -3.9455381) 'Airdrie Parish Church, Airdrie ':
Correct(55.8997395, -4.2921947) 'Asda, Rothes Drive Glasgow G23 5EZ ':
Correct(55.903168, -4.3059972) '1/2 19 Acre Drive Glasgow G20 0TP ':
Correct(55.79189, -3.9946663) 'Motherwell Railway Station, Muir Street Motherwell ML1 1BN ':
Correct(55.8241136, -4.1312177) '36 Collie Wynd Cambuslang G72 7RP ':
Correct(55.9075628, -4.3812019) '2 10 Heathcot Avenue, Glasgow, G15 8NT ':
Correct(55.8911875, -4.3864868) '88 Mill Road Glasgow G72 7QQ ':
Correct(55.7530285, -4.1985304) '57 Westwood Hill, East Kilbride ':
Error geocoding 'On Number 30 Lothian Bus West Approach Road Edinburgh': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=On+Number+30+Lothian+Bus+West+Approach+Road+Edinburgh&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.9579889, -3.189275) 'Broughton Street Edinburgh ':
Correct(55.9425804, -3.177848) '3 Hermits Croft, Edinburgh EH8 9RG ':
Correct(55.9342379, -3.1483098) 'Kings Haugh Edinburgh ':
Correct(55.9621628, -3.166578) 'Albion Place Edinburgh EH7 5QG ':
Correct(55.6620623, -4.4406767) '25 Fulton's Cres, Fenwick, KA3 6GJ ':
Correct(55.9261995, -3.1895584) 'Charterhall Road Edinburgh ':
Correct(56.638243, -2.897702) 'Taranty Road Forfar DD8 1HZ ':
Correct(55.957408, -3.2110117) '13 Carlton St, Edinburgh EH4 1NE ':
Correct(55.752489, -4.6400035) 'Mains Avenue Beith ':
Correct(55.9312225, -3.2184283) 'Colinton Road Edinburgh ':
Correct(55.7863702, -3.9866908) '3 Cross Stone Pl, Motherwell ML1 1UE ':
Correct(55.7901648, -3.9129053) 'Tesco Express, Coltness Road Wishaw ':
Correct(55.8199762, -3.9719019) 'Sunnyside Crescent Holytown ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8616758, -4.0257232) 'Asda Coatbridge ':
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.8152567, -3.9731357) 'Dale Drive Holytown ':
Correct(55.7870368, -3.9919364) '32 Mason Ln, Motherwell ML1 1YN ':
Correct(55.8211285, -3.9684428) 'Birch Street Holytown ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.812564, -3.9734878) 'Holytown ':
Correct(55.8140947, -4.017921) '19 Raith Dr Bellshill ML4 2JF ':
Correct(55.812564, -3.9734878) 'Holytown ML1 4TA ':
Error geocoding '2a Ellis St, Airdrie ML6 6BU': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=2a+Ellis+St%2C+Airdrie+ML6+6BU&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.9662884, -3.9726951) 'Central Way, Cumbernauld ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.7864562, -3.8743317) '34 Crindledyke Cres, Newmains, Wishaw ML2 9NH ':
Correct(55.8065786, -3.9647155) 'Bell Quadrant Motherwell ML1 4GN ':
Correct(55.8443675, -3.9459535) '75 Main St, Chapelhall, Airdrie ML6 8SB ':
Correct(55.8522994, -3.996346) '3 Cumbrae Pl, Coatbridge ML5 4PZ ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8540729, -4.0057885) '8 Greenwood Cres, Coatbridge ML5 4RG ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error geocoding 'Wishaw Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Wishaw+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.7826645, -3.9579968) 'Wellington St, Wishaw ML2 7EU ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.7901648, -3.9129053) 'Tesco Express, Coltness Road Wishaw ':
Correct(55.7002538, -3.6270655) 'Carnwath ':
Correct(55.7900615, -3.9062262) '83 Innerleithen Dr, Wishaw ML2 8SA ':
Correct(55.8539669, -4.0094651) 'Oak Pl, Coatbridge ML5 4QT ':
Correct(55.8612093, -4.003546) 'Main Street Coatbridge ':
Correct(55.8624851, -4.0279913) 'Main Street Coatbridge ML5 3AJ ':
Correct(55.8656552, -4.0226142) 'Dunbeth Road Coatbridge ':
Error geocoding 'East Glasgow Children's Home': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=East+Glasgow+Children%27s+Home&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.7722686, -3.9215259) '28 Caledonian Rd, Wishaw ML2 8AR ':
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.7734409, -3.927375) 'Tesco Belhaven Road Wishaw ':
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.7870368, -3.9919364) '52 Mason Ln, Motherwell ML1 1YN ':
Correct(55.7900615, -3.9062262) '114 Innerleithen Dr, Coltness, Wishaw ML2 8SB ':
Correct(55.7760772, -3.9453417) '686 Glasgow Rd, Wishaw ML2 7SR ':
Correct(55.7721732, -3.9604603) 'Shields Road Motherwell ':
Correct(55.8158127, -4.329536) 'Boydstone Road Glasgow ':
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8180059, -4.2938463) '123 Nether Auldhouse Rd, Glasgow G43 2YS ':
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8310111, -4.2798642) '1071 Pollokshaws Rd, Shawlands, Glasgow G41 3YG ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8716841, -4.3014994) '4 Mansfield St, Glasgow G11 5QP ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8753827, -4.28601) '30 Glasgow St, Glasgow G12 8JR ':
Correct(55.8180059, -4.2938463) '123 Nether Auldhouse Rd, Glasgow G43 2YS ':
Correct(55.8762192, -4.2926537) 'byres road glasgow ':
Error geocoding '30 Glasgow St, Glasgow G12 8JR': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=30+Glasgow+St%2C+Glasgow+G12+8JR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8551818, -4.3697488) '214 Linburn Rd, Glasgow G52 4EN ':
Correct(55.8745994, -4.2792835) 'Great Western Road Glasgow ':
Correct(-19.5771914, 147.4038416) 'Ayr Police Station ':
Correct(56.1139558, -3.9228231) 'Springkerse Road Stirling ':
Correct(55.8249732, -4.2860432) '244 Kilmarnock Rd, Shawlands, Glasgow G43 1TT ':
Error geocoding '5 Main St, Barrhead, Glasgow G78 1RE': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=5+Main+St%2C+Barrhead%2C+Glasgow+G78+1RE&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8624334, -4.2534568) 'Buchanan Street Glasgow G1 3HF ':
Correct(55.8545505, -4.2207383) 'Gallowgate Glasgow G31 4BW ':
Correct(55.818956, -4.0219584) 'Main Street Bellshill ML4 1AB ':
Correct(55.8748887, -4.3639874) 'Braehead Shopping Centre ':
Correct(55.8594474, -4.2519631) 'Travelodge, Queen Street Glasgow ':
Error geocoding '8 Old School House Ln, Houston, Johnstone PA6 7JB': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=8+Old+School+House+Ln%2C+Houston%2C+Johnstone+PA6+7JB&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.8318143, -4.4918332) '36 Hillview Rd, Elderslie, Johnstone PA5 9HX ':
Correct(55.8618564, -4.2883405) 'Stobcross Road Glasgow G3 8YW ':
Correct(55.8423742, -4.4235074) 'Johnston Street, Paisley ':
Correct(55.8601515, -4.2527226) 'Royal Exchange Square ':
Correct(55.8305236, -4.5271624) '54 Kilbarchan Rd, Johnstone PA5 8RF ':
Correct(55.848137, -4.5096373) 'Stirling Drive, Linwood ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.1245805, -3.159254) 'Victoria Hospital Hayfield Road Kirkcaldy KY2 5AH ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.0832781, -3.4256376) 'Whitefield Road Dunfermline ':
Correct(56.0820438, -3.4283068) 'Queen Margaret Hospital Whitefield Road Dunfermline ':
Correct(56.0811451, -3.4111303) 'Halbeath Retail Park Dunfermline KY11 4LP ':
Correct(56.0752937, -3.4285522) 'Garvock Hill, Dunfermline KY12 7RW ':
Correct(56.3836772, -3.4412553) '36 St Magdalene's Rd, Perth PH2 0BT ':
Correct(56.3950328, -3.4262155) 'South Street, Perth, PH2 8NJ ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9785333, -4.0673282) '23 Corrie Road Kilsyth Kilsyth G65 9NS ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Correct(55.9354973, -3.1642563) '11 Kirkhill Gardens, Edinburgh, EH16 5DF ':
Error geocoding '7 Irvine Dr, Paisley PA3 3TA': HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=7+Irvine+Dr%2C+Paisley+PA3+3TA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Correct(55.9380364, -3.2228502) '64 F4 Bryson Rd, Edinburgh EH11 1DR ':
Correct(56.6338941, -2.8992861) '29 Old Halkerton Rd, Forfar DD8 1JP ':

In [5]:
errors

["East Glasgow Children's Home",
 "East Glasgow Children's Home",
 '8 Old School House Ln, Houston, Johnstone PA6 7JB',
 '8 Old School House Ln, Houston, Johnstone PA6 7JB',
 'On Number 30 Lothian Bus West Approach Road Edinburgh',
 "East Glasgow Children's Home",
 "East Glasgow Children's Home",
 '2a Ellis St, Airdrie ML6 6BU',
 "East Glasgow Children's Home",
 "East Glasgow Children's Home",
 "East Glasgow Children's Home",
 "Wishaw Children's Home",
 "East Glasgow Children's Home",
 "East Glasgow Children's Home",
 '30 Glasgow St, Glasgow G12 8JR',
 '5 Main St, Barrhead, Glasgow G78 1RE',
 '8 Old School House Ln, Houston, Johnstone PA6 7JB',
 '7 Irvine Dr, Paisley PA3 3TA',
 "East Glasgow Children's Home",
 "East Glasgow Children's Home"]

In [6]:
df_output_filename = pd.read_csv('../DATA/mp_new_geolocations.csv')
df_output_filename.rename(columns={'A_latlong': 'missing_from_latlong', 'B_latlong': 'tl_latlong'})
df_output_filename.to_csv('../DATA/mp_new_geolocations.csv', index=False)

In [7]:
df_output_filename = pd.read_csv('../DATA/mp_new_geolocations.csv')

In [8]:
df_output_filename

,Unnamed: 0.1,Unnamed: 0,reportid,sno,label,misperid,initial_risk_level,current_final_risk_level,nominalpersionid,forenames,...,q_22_explanation,q_23,q_23_explanation,q_24,q_24_explanation,q_25,q_25_explanation,missing_from_latlong,tl_latlong,home_latlong
0,0.0,0.0,1240,NaN,Adult,960,High,High,3671,Abigail,...,NaN,0,NaN,1,NaN,0,NaN,"(-4.0673282, 55.9785333)","(-4.0546078, 55.9791552)","(-4.0673282, 55.9785333)"
1,1.0,1.0,2361,NaN,Child,960,High,Medium,3671,Abigail,...,NaN,0,NaN,0,NaN,0,NaN,"(None, None)","(-4.0813954, 55.9810406)","(-4.0673282, 55.9785333)"
2,2.0,2.0,4265,NaN,Adult,960,Medium,Medium,3671,Abigail,...,NaN,0,NaN,0,NaN,0,NaN,"(-4.0673282, 55.9785333)","(None, None)","(-4.0673282, 55.9785333)"
3,3.0,3.0,5463,NaN,Adult,960,High,Medium,3671,Abigail,...,NaN,0,NaN,1,NaN,0,NaN,"(-4.0673282, 55.9785333)","(None, None)","(-4.0673282, 55.9785333)"
4,4.0,4.0,6531,NaN,Adult,960,High,High,3671,Abigail,...,NaN,0,NaN,1,NaN,0,NaN,"(-4.0673282, 55.9785333)","(None, None)","(-4.0673282, 55.9785333)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,NaN,NaN,38504,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,...,NaN,0,NaN,1,NaN,0,NaN,"(-3.4283068, 56.0820438)","(-3.4111303, 56.0811451)","(-3.4161094, 56.0756984)"
172,NaN,NaN,37688,NaN,Wanted/Absconder,20039,High,High,78847,Sophia,...,NaN,0,NaN,1,NaN,0,NaN,"(-3.4283068, 56.0820438)","(-3.4285522, 56.0752937)","(-3.4161094, 56.0756984)"
173,NaN,NaN,89782,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,...,NaN,0,NaN,1,eiger,0,NaN,"(-3.4135806, 56.4007574)","(None, None)","(-3.4369261, 56.391476)"
174,NaN,NaN,78187,S65432/10R,Adult,38455,High,High,149833,Fraser,...,NaN,0,NaN,1,NaN,0,NaN,"(-3.4135806, 56.4007574)","(-3.4412553, 56.3836772)","(-3.4369261, 56.391476)"
175,NaN,NaN,77997,S65432/10R,Wanted/Absconder,38455,High,High,149833,Fraser,...,NaN,0,NaN,1,NaN,0,NaN,"(-3.4135806, 56.4007574)","(-3.4262155, 56.3950328)","(-3.4369261, 56.391476)"